.header {
    height: 160px;
    background: #5964E0;;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
}

.heading {
    color: #fff;
    margin-left: 200px;
    margin-bottom: 20px;
}

.header-image img {
    margin-right: 200px;
    margin-bottom: 20px;
}

